* {
    font-family: monospace;
}

h1,
h2,
h3 {
    font-weight: 300;
}

.display-box-title {
    background-color: #232ea5;
    width: 90%;
    height: 20%;
    padding: 12px;
    margin: 18px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 25px;

}

.display-box {
    background-color: #2360A5;
    width: 90%;
    height: 20%;
    padding: 12px;
    margin: 18px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 25px;

}

.display-box:hover {
    background-color: #2360A5;
}

< !-- HTML !--><button class="button-E" role="button">Button E</button>.button-E {
    text-align: center
}

/* The sections below create each of the Q1 buttons; I am unsure if there is a way for me
to only have these sections once in the code to reduce length but have each button have its own
color to match their subway lines ie blue for E, red for 1 */
.button-E {
    background-color: #0039a6;
    border: 1px solid transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 100px;
    vertical-align: center;
    margin: 0;
    outline: none;
    position: center;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;

}

.button-E:hover,
.button-E:focus {
    background-color: #07c;
}

.button-E:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-E:active {
    background-color: #0064bd;
    box-shadow: none;
}

.buttons {
    text-align: center
}

.button-D {
    background-color: #ff6319;
    border: 1px solid transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 100px;
    margin: 0;
    outline: none;
    position: center;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: center;
    white-space: nowrap;

}

.button-D:hover,
.button-D:focus {
    background-color: #07c;
}

.button-D:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-D:active {
    background-color: #0064bd;
    box-shadow: none;
}

.buttons {
    text-align: center
}

.button-Q {
    background-color: #Fccc0A;
    border: 1px solid transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 100px;
    margin: 0;
    outline: none;
    position: center;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: center;
    white-space: nowrap;

}

.button-Q:hover,
.button-Q:focus {
    background-color: #07c;
}

.button-Q:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-Q:active {
    background-color: #0064bd;
    box-shadow: none;
}

.buttons {
    text-align: center
}

.button-1 {
    background-color: #EE325E;
    border: 1px solid transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 100px;
    margin: 0;
    outline: none;
    position: center;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: center;
    white-space: nowrap;

}

.button-1:hover,
.button-1:focus {
    background-color: #07c;
}

.button-1:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-1:active {
    background-color: #0064bd;
    box-shadow: none;
}

.buttons {
    text-align: center
}

/* this is the code for the design of the buttons Q2 and the link button */
.button-7 {
    background-color: #07c;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: center;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;

}

.button-7:hover,
.button-7:focus {
    background-color: #07c;
}

.button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
    background-color: #0064bd;
    box-shadow: none;
}

.buttons {
    text-align: center
}